<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/site/modules/BatchChildEditor/parsecsv-for-php/tests/properties" />
        <option value="$PROJECT_DIR$/site/modules/BatchChildEditor/parsecsv-for-php/tests/methods" />
      </list>
    </option>
  </component>
</project>